body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.header,
.footer {
    background-color: #1f2937;
    text-align: center;
    display: flex;
    justify-content: space-around;

}

.header {
    padding: 20px;

}

.header-logo {
    font-size: 24px;
    color: #F9FAf8;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 18px;
    color: #E5E7Eb;
}

.container-one {
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    padding: 60px 0px 150px 100px;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.container-one-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
    max-height: 300px;
    gap: 5px;
}

.container-one-item h1 {
    font-size: 48px;
    color: #F9FAf8;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.container-one-item p {
    font-size: 18px;
    color: #E5E7Eb;
    margin: 0;
    padding: 0;
}

.container-one img {
    height: 250px;
    width: 500px;
}

.container-one button {
    align-items: center;
    background-color: #3882F6;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.subtext {
    flex-wrap: wrap;

}
.container-two {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap : 40px;
    margin: 32px 0px;
}
.container-two-title{
      font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  text-align: center;
  margin: 32px 0px;

}
.container-two-item {
    display: flex;
    flex-basis: 200px;
    flex-direction: column;
    align-items: center;
}

.container-two-item-text {
    font-size: 18px;
    color: gray;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.border-img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border: 5px solid #3882F6;
    background-image: url("./images/Untitled.png");
        background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}
.container-three {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 100px;
    gap: 20px;
    background-color: #F3F4F6;
    height: 400px;
}
.container-three .container-in-container-three{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: center;
    max-width: 750px;
}
.container-three .quote {
    display: flex;
    flex-wrap: wrap;
    font-size: 36px;
    color: #1F2937;
    margin: 0;
    padding: 0;
    text-align: left;
    max-width: 750px;
    align-self: center;
    font-weight: 300;
}
.container-three .author {
    display: flex;
    font-size: 24px;
    color: black;
    margin: 0;
    padding: 0;
    align-self: flex-end;
    max-width: 750px;
}

.container-four {
    height: 300px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-four .container-in-container-four{
    background-color: #3882F6;
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}
.container-in-container-in-container-four{
    display: flex;
    flex-direction: column;
    color: white;
    text-align: left;
    justify-content: center;

}
.container-in-container-in-container-four h2 {
    margin: 0;
    padding: 0;
}
.container-in-container-in-container-four p{
    margin: 0;
    padding: 0;
}
.container-in-container-four button{
    border: 2px solid white;
    border-radius: 10px;
    background-color: #3882F6;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: bold;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #E5E7Eb;
    height: 100px;
}